

.anchorPaneToDoList{
    -fx-background-color: linear-gradient( #D8D8D8 1% , #6E6E6E 15% , #B90707 60% , #6E6E6E 100%);
}

.hBox{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
    -fx-background-radius: 6;
    -fx-background-color: #E6E6E6;
}

.vBox{
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
    -fx-background-radius: 6;
    -fx-background-color: linear-gradient(#ff8080 10%, #ff1a1a 100%);
}

.vBoxTask{
    -fx-background-radius: 6;
    -fx-background-color: #DC143C ;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}


.textarea{
    -fx-font-family: Eras-Demi-ITC;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}
.button, .text-field {
    -fx-background-radius: 8;
    -fx-background-color: #FFFFFF ;
    -fx-font-family: Eras-Demi-ITC;
    -fx-text-fill: #5e5e5e;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}

.label{
    -fx-background-radius: 4;
    -fx-background-color: #FFFFFF ;
    -fx-font-family: Eras-Demi-ITC;
    -fx-text-fill: #5e5e5e;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button{
    -fx-background-radius: 25;
}


.labelHeader{
    -fx-background-color: #6E6E6E;
    -fx-background-radius: 8;
    -fx-font-family: Eras-Demi-ITC;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
    -fx-font-size: 1.7em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}

.button:hover{
    -fx-background-color: #FFAA00;
    -fx-text-fill: #FAFAFA;
}

.context-menu {
    -fx-background-color: #D0D3D4;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    /*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.menu-item:focused {
    -fx-background-color: #FFAA00;
    -fx-text-fill: #FAFAFA;
}

.menu-item:focused .label {
    -fx-text-fill: white;
    -fx-background-color: #FFAA00;
}
.menu-item .label{
    -fx-background-color: #D0D3D4;
}


