.button {
    -fx-font-weight: bold;
    -fx-border-color: lightgrey;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 2;
    -fx-cursor: hand;
}

.button:hover {
    -fx-border-color: grey;
    -fx-border-width: 1px;
}

.button:pressed {

}

.delete-button {
    -fx-border-color: red;
}

.delete-button:hover {
    -fx-background-color: red;
}

.add-button {
    -fx-border-color: green;
}

.add-button:hover {
    -fx-background-color: green;
}

.edit-button:hover, .add-button:hover, .delete-button:hover {
    -fx-text-fill: white;
}

.lecture-button {
    -fx-padding: 5, 5;
}

.label {
    -fx-background-radius: 4;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.label-h1 {
    -fx-font-size: 21px;
}

.label-h2 {
    -fx-font-size: 18px;
}

.label-h3 {
    -fx-font-size: 15px;
}

.textarea, .text-field {
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: lightgrey;
    -fx-border-radius: 2;
    -fx-text-fill: black;
    -fx-padding: 4px 8px;
    -fx-content-display: inline-block;
    -fx-background-radius: 2;
}

.choice-box, .combo-box {
    -fx-background-radius: 2;
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-border-radius: 2;
    -fx-border-color: lightgrey;
}

.combo-box .list-cell:hover {
    -fx-background-color: #1966FF;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #1966FF;
}

.list-view {
    -fx-font-size: 14px;
}

.background-color {
    -fx-background-color: linear-gradient(#1966FF 1%,  #FFFFFF 18%);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.tab-pane .tab:selected {
    -fx-background-color: #1966FF;
    -fx-border-radius: 2;
}

.tab-pane .tab {
    -fx-background-color: #939393;
}

.tab .tab-label {
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

