.labelHeadings{
    -fx-background-radius: 4;
    -fx-background-color: #FFFFFF ;
    -fx-padding: 2px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}

.label{
    -fx-font-family: Eras-Demi-ITC;
    -fx-text-fill: #5e5e5e;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.textarea{
    -fx-font-family: Eras-Demi-ITC;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}

.list-view{
    -fx-font-family: Eras-Demi-ITC;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}

.vBox{
    -fx-background-radius: 4;
    -fx-background-color: #BDBDBD;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 );
}

.button {
    -fx-background-radius: 25;
    -fx-background-color: #FFFFFF ;
    -fx-font-family: Eras-Demi-ITC;
    -fx-text-fill: #5e5e5e;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 5,0,0,1 )
}

.button:hover {
    -fx-background-color: #FFAA00;
    -fx-text-fill: #FAFAFA;
}